.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      display: inline-block;
      width: 20rem;
      height: 3rem;
      color: #999;
      font-family: inherit;
      margin-bottom: 1rem;
      outline: none;
      caret-color: #800080;

      &::placeholder {
        color: #bbb;
      }
    }

    button {
      border: none;
      outline: none;
      display: inline-block;
      width: 20rem;
      height: 3rem;
      font-weight: bold;
      background-color: #800080;
      color: #fff;
      border-radius: 3px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background-color: #af21afcc;
      }

      &:disabled {
        cursor: not-allowed;
      }
    }

    span {
      font-size: 1.2rem;
      color: #f00;
      margin-top: 1rem;
    }
  }
}
